In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('./data/farmersmarkets-2017-01-10.csv')

In [9]:
data.shape

(8665, 59)

### FMID

In [4]:
sum(data.FMID.isnull())

0

In [5]:
data.FMID.nunique()

8665

### Payment

In [12]:
for i in ['Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP']:
    print("Number of missing values: {}".format(sum(data[i].isnull())))
    print(data[i].unique())

Number of missing values: 0
['Y' 'N']
Number of missing values: 0
['Y' 'N']
Number of missing values: 0
['N' 'Y']
Number of missing values: 0
['Y' 'N']
Number of missing values: 0
['N' 'Y']

### Products

In [13]:
for i in [
    'Organic', 'Bakedgoods','Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 
    'Vegetables', 'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
    'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans', 'Fruits', 
    'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu'
]:
    print(data[i].unique())

['Y' '-' 'N']
['Y' nan 'N']
['Y' 'N' nan]
['Y' 'N' nan]
['Y' nan 'N']
['Y' nan 'N']
['N' nan 'Y']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['N' nan 'Y']
['N' nan 'Y']
['Y' 'N' nan]
['Y' 'N' nan]
['Y' 'N' nan]
['Y' 'N' nan]
['Y' 'N' nan]
['N' nan 'Y']
['Y' 'N' nan]
['Y' 'N' nan]
['Y' nan 'N']
['N' nan 'Y']
['Y' 'N' nan]
['N' nan 'Y']
['Y' 'N' nan]
['N' nan 'Y']

### Longitude and Latitude

In [14]:
data[['x', 'y']].describe()

                 x            y
count  8636.000000  8636.000000
mean    -90.972803    39.164435
std      17.491602     5.294078
min    -166.540000    17.709900
25%     -97.296663    36.276390
50%     -86.230908    40.050650
75%     -77.535994    42.449438
max     -64.704300    64.862750